<header>
  <div class="container">
    <div class='row'>
      <div class='valign-wrapper'>
        <div class='col m1'>
          <div class="valign-wrapper">
            <a href='/' ><img class='responsive-img logo valign' src='image/logo3.png'></img></a>
            <!--<a href="{{ site.baseurl }}/" class='valign'>{{ site.title }}</a>-->
          </div>
        </div>
        <div class='col m11'>
          <ul class='line'>
            <li><a href="blog" class="waves-effect waves-light btn-flat">Blog</a></li>
            <li><a href="download" class="waves-effect waves-light btn-flat">Download</a></li>
            <!--<li><a href="changelog" class="waves-effect waves-teal btn-flat">Changelog</a></li>-->
            <li><a href="faq" class="waves-effect waves-light btn-flat">F.A.Q</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
