<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class='content-color'>
      {% include header.html %}
      <div class="container">
        <div class="card-panel red">
          Lantionary is still under development so any thing can change, the interface, the database and more.
          When a new version is release I will give information about what has change.
        </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include analyticsGoogle.html %}

  </body>

</html>
